<!DOCTYPE html>
<html>
<head>
<% include headerStuff %>
</head>
<body>
        <% include pageHeader %>
    <div class="container-fluid">


<div class="row"><div class="col-xs-12">

<form method='POST' action='/customers/destroy/confirm'>
<input type='hidden' name='id' value='<%= customer ? customer.id : "" %>'>
<p>Delete <%= customer.firstName + " " + customer.lastName %> ?</p>
<br/><input type='submit' value='DELETE' /> <a class="btn btn-default" href="/customers/view?id=<%= customer.id %>">Cancel</a>
</form>
</div></div>

<% include footer %>
</div>
</body>
</html>
