<!DOCTYPE html>
<html>
<head>
<% include headerStuff %>
</head>
<body>
    <% include pageHeader %>
  <div class="container-fluid">


<a class="btn btn-lg btn-success" href="/customers/add">New Customer</a> or 
<h3 style="display:inline-block;">Select Customer</h3>
<br/>
<br/>
<hr />
<% for( var customer of customers ){ %>
  <div class="row">
      <span class="col-sm-1"><a class="btn btn-primary" id="btnSelectCustomer" href="/transactions/AddProducts?customer_id=<%= customer.id %>" role="button">Select</a></span>
      <div class="col-sm-7"><label>Name</label><h4 style="display:inline-block;"><%= customer.firstName + " " + customer.lastName %></h4></div>
      <span class="col-sm-4"><label>Phone</label><%= customer.phone %></span>
      <!-- <span class="col-sm"><label>ID</label><%= customer.id %></span> -->
      
  </div>
  <hr />
<% }; %>

<% include footer %>
<!-- 
<script src="/socket.io/socket.io.js"></script>
<script>
$(document).ready(function () {
  var socket = io('/home');
  socket.on('producttitles', function(data) {
    var notelist = data.notelist;
    $('#producttitles').empty();
    for (var i = 0; i < productlist.length; i++) {
      productdata = productlist[i];
      $('#producttitles')
      .append('<a class="btn btn-lg btn-block btn-default" href="/products/view?SKU='+
                productdata.SKU +'">'+ productdata.name +'</a>');
    }
  });
});
</script> -->

</div>
</body>
</html>
