<!DOCTYPE html>
<html>
<head>
<% include headerStuff %>
</head>
<body>
<div class="container-fluid">

<center>
<br/>
<br/>
<br/>
<br/>
<h1>Thank you!</h1>
<br/>
<br/>
<br/>
<br/>
<a class="btn btn-primary" id="btnnewtransaction" href="/" role="button">Start New Transaction</a>
</center>

<% include footer %>
<!-- 
<script src="/socket.io/socket.io.js"></script>
<script>
$(document).ready(function () {
  var socket = io('/home');
  socket.on('producttitles', function(data) {
    var notelist = data.notelist;
    $('#producttitles').empty();
    for (var i = 0; i < productlist.length; i++) {
      productdata = productlist[i];
      $('#producttitles')
      .append('<a class="btn btn-lg btn-block btn-default" href="/products/view?SKU='+
                productdata.SKU +'">'+ productdata.name +'</a>');
    }
  });
});
</script> -->

</div>
</body>
</html>
