<!DOCTYPE html>
<html>
<head>
<% include headerStuff %>
</head>
<body>
        <% include pageHeader %>
    <div class="container-fluid">


<div class="row"><div class="col-xs-12">

<form method='POST' action='/transactions/destroy/confirm'>
<input type='hidden' name='id' value='<%= transaction ? transaction.id : "" %>'>
<p>Delete <%= transaction.id %> ?</p>
<br/><input class="btn btn-danger" type='submit' value='DELETE' /> <a class="btn btn-warning" href="/transactions/view?id=<%= transaction.id %>">Cancel</a>
</form>
</div></div>

<% include footer %>
</div>
</body>
</html>
